/**************************** TOP LEFT**************************/

/**************************** TOP RIGHT **************************/

#bannerHeader{
    width: 420px;
    text-transform: none !important;
}

/**************************** BOTTOM LEFT **************************/

#teamPicDiv{
    margin-top:40px;
    padding:0;
}

#teamPic{
    width:100%;
}


/**************************** BOTTOM RIGHT **************************/

@media screen and (max-width: 1200px) {
    .introContentMedium h3, p.lead{
        font-weight: 700 !important;
    }
}


.introContent p:nth-child(2){
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}

.introContent a, .infoMore a{
    text-decoration: none;
    color:#2fb1c7;
}

.aboutRight{
    margin: 0 auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.introContentMedium{
    margin: 0 30px;
}

/********************************************************************/