.passwordH3{
    margin:30px auto !important;
}

.pwdResetBtn{
    text-transform: capitalize;
    width:250px;
    margin: 10px auto;
}

#telNumber, #email1{
    font-size: 16px !important;
}

.has-feedback label~.form-control-feedback {
    top: 50px;
    right: 35px;
}

@media screen and (max-width: 768px){
    .has-feedback label~.form-control-feedback {
        top:25px;
        right: 30px;
    }
}

@media screen and (max-width: 375px){
    .has-feedback label~.form-control-feedback {
        right: 30px;
    }
}

@media screen and (min-width: 768px){
    #loginDiv button{
        margin-top: 20px;
    }
}


@media screen and (max-width: 768px){
    #loginDiv button{
        width: 90%;
        margin: 10px auto;
    }
}