#bottomNav{
    margin-top: 25px;
}

.leftCol{
    border: none !important;
}

.rightCol{
    padding-right:15px !important;
}


#mbrDiv form{
    font-size: 18px !important;
}

@media screen and (max-width: 576px){

    #mbrDiv form{
        font-size: 14px !important;
    }
}

#mbrDiv, #signUpDiv{
    height: 540px;
    width:100% !important;
    margin:30px auto;
    border: solid 1px #BFBFBF;
    border-radius: 4px;
}

#signUpDiv h3, h4{
    text-align: center;
}

#signUpBtn{
    margin-top:-5px;
}

.pageTitle{
    text-align: left !important;
}

#rememberDiv{
    margin-bottom: 10px;
}

#rememberDiv img{
    margin:5px;
}

#signUp{
    margin-top: 20px;
    width:50%;
}

@media screen and (max-width: 768px){
    #signUp{
        width:80% !important;
    }
}

h3, h4{
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 50px;
}

#loginDiv{
    margin:60px auto !important;
}

#loginDiv button{
    font-size: 24px !important;
}

#loginSpan{
    width:100% !important;

}

#loginSpan a{
    color: #6E7C7C !important;
}

#registerIcon{
    text-align: center;
    margin:60px auto;
}

.infoInput{
    height: 80px!important;
    margin:30px auto !important;
}